cs50==9.4.0
Flask==3.2.7
Flask-Session==0.4.0
requests==2.31.0
cachelib==1.2.1
google-generativeai==0.6.0
pillow==10.3.0
pandas==2.2.2
scikit-learn==1.4.2
matplotlib==3.9.3
click==8.1.7
gunicorn==22.1.0
itsdangerous==2.2.1
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3
