{% extends "layout.html" %}

{% block title %}About FitAI{% endblock %}

{% block main %}
<div class="container my-5">
    <h1 class="text-center mb-4">About FitAI</h1>
    <p class="lead text-center">Discover how FitAI revolutionizes personal fitness through cutting-edge technology and smart analytics.</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <h2>Our Features</h2>
            <ul class="list-group">
                <li class="list-group-item">Activity Tracking: Track steps, calories, and distance.</li>
                <li class="list-group-item">Goal Setting: Set and achieve personalized fitness goals.</li>
                <li class="list-group-item">Predictive Analysis: Use AI to predict fitness achievements.</li>
                <li class="list-group-item">User-Friendly Interface: Sleek and easy-to-use interface.</li>
                <li class="list-group-item">CS50 Integration: Developed with the robustness of Harvard's CS50 principles.</li>
                <li class="list-group-item">Flask Framework: Built on the powerful Flask web framework.</li>
                <li class="list-group-item">Flask-Session: Secure session management across requests.</li>
                <li class="list-group-item">Requests: Real-time data interaction via external APIs.</li>
                <li class="list-group-item">Cachelib: Enhanced performance with effective caching strategies.</li>
                <li class="list-group-item">Google Generative AI: Personalized fitness advice using AI technology.</li>
                <li class="list-group-item">Pillow: Advanced image processing capabilities.</li>
            </ul>
        </div>
        <div class="col-md-6 mb-4">
            <h2>Why Choose FitAI?</h2>
            <p>FitAI is not just an app; it's a companion that understands your fitness needs and evolves with you. Whether you're looking to shed a few pounds, improve your overall health, or train for an upcoming event, FitAI provides all the tools and insights you need for success.</p>
            <p>Our application combines state-of-the-art technology with user-friendly design to ensure that your fitness journey is as engaging and effective as possible. With FitAI, every step you take brings you closer to your fitness goals.</p>
            <img src="/static/about_fitai.webp" alt="About FitAI" class="img-fluid rounded">
        </div>
    </div>
</div>
{% endblock %}
