{% extends "layout.html" %}

{% block title %}
Fitness Events
{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div class="events">
    <!-- Event 1 -->
    <div class="event">
        <h2>City Marathon</h2>
        <p><i>Join thousands of runners in the annual City Marathon, sponsored by FastTrack Shoes. Experience the thrill of competition and the beauty of our city.</i></p>
        <img src="/static/1.jpg" alt="Marathon Logo">
        <ul>
            <li>Date: May 20, 2024</li>
            <li>Place: Paltan Bazaar, Guwahati</li>
        </ul>
    </div>

    <!-- Event 2 -->
    <div class="event">
        <h2>Beach Volleyball Challenge</h2>
        <p><i>Get ready for fun in the sun at our annual Volleyball Challenge, sponsored by SunGuard Apparel. Open to teams and individual players.</i></p>
        <img src="/static/2.jpg" alt="Volleyball Logo">
        <ul>
            <li>Date: June 5, 2024</li>
            <li>Place: Nehru Stadium, Guwahati</li>
        </ul>
    </div>
</div>
{% endblock %}
