{% extends "layout.html" %}

{% block title %}
Exercise Log
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Log Your Exercise</h1>
    <div class="card mt-4 mb-3">
        <div class="card-body">
            <h4 class="card-title text-center">Add Exercise Details</h4>
            <form action="/exercise" method="post">
                <div class="form-group">
                    <label for="distance_covered">Distance Covered (km)</label>
                    <input type="number" step="0.01" class="form-control" id="distance_covered" name="distance_covered" placeholder="Enter distance covered in km" required>
                </div>
                <div class="form-group">
                    <label for="time_taken">Time Taken (minutes)</label>
                    <input type="number" class="form-control" id="time_taken" name="time_taken" placeholder="Enter time taken in minutes" required>
                </div>
                <div class="form-group">
                    <label for="date_log">Date</label>
                    <input type="date" class="form-control" id="date_log" name="date_log" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
